body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav bar */

nav {
  max-width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid green;
  box-shadow: 1px 3px 5px rgb(0 0 0 / 20%);
}

.logo {
  display: flex;
  align-items: center;
  margin: auto;
}

.logo-img {
  width: 2.5rem;
  height: 2.5rem;
}

.logo-text {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.logo-span {
  color: green;
}

.form-searchbar {
  max-width: 75%;
  flex-grow: 2;
}
.form-group {
  position: relative;
}

.form-searchbar-input {
  width: 50%;
  height: 2rem;
  border: 2px solid green;
  border-radius: 1rem;
  padding: 0.2rem 2rem 0.2rem 1rem;
  font-size: 1rem;
}

.form-searchbar-icon {
  position: absolute;
  top: 11px;
  left: 52%;
  font-size: 1.2rem;
}

/* Main container */

.main-container {
  display: flex;
}

/* Posts */

.posts-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 10%;
  max-width: 50%;
}

.single-post-container {
  display: flex;
  margin-top: 1.5rem;
  border: 2px solid black;
  border-radius: 0.5rem;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 25%);
  width: 90%;
}

.posts-vote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.posts-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}

.posts-media-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.posts-content-container img {
  width: 100%;
  border-radius: 0.5rem;
}

.posts-content-container video {
  width: 100%;
}

.posts-content-comments {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

/* Subreddit sidebar */

.subreddit-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  padding: 0.5rem;
  margin-top: 1.5rem;
  border: 2px solid;
  border-radius: 0.5rem;
  height: fit-content;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 25%);
  max-width: 23%;
}

.subreddit-header {
  text-align: center;
  border-bottom: 2px solid;
}

.subreddit-list {
  list-style: none;
  padding: 0 0.5rem;
}

.subreddit-category {
  padding: 1rem 0;
}

.subreddit-category button {
  display: flex;
  align-items: center;
  width: 100%;
}

.subreddit-icon-img {
  width: 10%;
  border-radius: 2rem;
}

.subreddit-title {
  margin-left: 8px;
}

/* Single Post */

.outer-post-container {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 60%;
}

.inner-post-container {
  display: flex;
  margin-top: 1.5rem;
  border: 2px solid;
  border-radius: 0.5rem;
  width: 80%;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 25%);
}

.post-likes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.post-content-container {
  padding: 1rem;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.post-content-container button {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

.post-goBack-button {
  align-self: flex-start;
  margin-left: 10%;
}

/* Single post comment section */

.comment-container {
  margin-top: 1.5rem;
  border: 2px solid;
  border-radius: 0.5rem;
  width: 80%;
  text-align: center;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 25%);
}

/* Gallery Container seciton */

.gallery-container {
  display: flex;
  position: relative;
  overflow: hidden;
  right: 0;
}

.gallery-slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  right: 0;
}

.gallery-slide img {
  height: 100%;
  position: relative;
  right: 0;
}

.gallery-button-next,
.gallery-button-prev {
  transition: 0.6s ease;
  user-select: none;
}

.gallery-button-prev {
  position: absolute;
  top: 45%;
}

.gallery-button-next {
  position: absolute;
  top: 45%;
  right: 0;
}

.gallery-button-prev:hover,
.gallery-button-next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

.active,
.gallery-nav:hover {
  background-color: #8fd597;
}
