@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Work+Sans:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

body {
  margin: 0 0 2rem 0;
  font-family: 'Fira Sans', 'Work Sans', -apple-system, BlinkMacSystemFont,
    'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans',
    'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Nav bar */

nav {
  max-width: 100%;
  display: flex;
  align-items: center;
  border-bottom: 2px solid green;
  box-shadow: 0 4px 5px rgb(0 0 0 / 20%);
}

.logo {
  display: flex;
  align-items: center;
  margin: auto;
}

.logo-img {
  width: 2.5rem;
  height: 2.5rem;
}

.logo-text {
  font-size: 1.3rem;
  padding-left: 0.5rem;
}

.logo-span {
  color: green;
}

.form-searchbar {
  max-width: 75%;
  flex-grow: 2;
}
.form-group {
  position: relative;
}

.form-searchbar-input {
  width: 50%;
  height: 2rem;
  border: none;
  border-radius: 1rem;
  padding: 0.2rem 2.5rem 0.2rem 1rem;
  font-size: 1rem;
  background-color: whitesmoke;
}

.form-searchbar-input:hover {
  background-color: ivory;
}

.form-searchbar-input:focus-visible {
  background-color: ivory;
}

.form-searchbar-input:focus-visible {
  outline: #8fd597 solid 2px;
}

.form-searchbar-icon {
  position: absolute;
  top: 9px;
  left: 51.5%;
  font-size: 1.2rem;
}

.nav-category-menu {
  display: none;
}

.nav-category-menu-open {
  display: none;
}

/* Main container */

.main-container {
  display: flex;
}

/* Posts */

.posts-container {
  flex-grow: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 5%;
  max-width: 55%;
}

.single-post-container {
  display: flex;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 5px 7px 4px rgb(0 0 0 / 25%);
  width: 90%;
}

.single-post-container:hover {
  cursor: pointer;
}

.posts-vote-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem 0.5rem;
  width: 7%;
  background: whitesmoke;
  border-radius: 0.5rem 0 0 0.5rem;
  box-shadow: 1px 0 5px rgb(0 0 0 / 25%);
}

#vote-amount {
  font-size: 0.9rem;
  text-align: center;
}

.vote-Up {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  padding: 0;
}
.vote-Up:hover {
  color: green;
}
.vote-Up:active {
  position: relative;
  top: 1px;
}

.vote-Down {
  background-color: transparent;
  border: none;
  font-size: 1.8rem;
  padding: 0;
}
.vote-Down:hover {
  color: red;
}
.vote-Down:active {
  position: relative;
  top: -1px;
}

.vote-Up-Active path:last-child {
  stroke: green;
  fill: green;
}

.vote-Down-Active path:last-child {
  stroke: red;
  fill: red;
}

.posts-content-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  padding: 1rem;
  width: 100%;
}

.posts-media-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin-bottom: 0.8rem;
}

.posts-content-container img {
  width: 100%;
  border-radius: 0.5rem;
}

.posts-content-container video {
  width: 100%;
  border-radius: 0.5rem;
}

.posts-content-comments {
  display: block;
  margin-left: auto;
  margin-top: auto;
  background-color: transparent;
  border: 1px solid black;
  border-radius: 2rem;
  box-shadow: 2px 3px 3px rgb(0 0 0 / 25%);
  cursor: pointer;
}

.posts-content-comments:hover {
  background-color: whitesmoke;
  color: green;
}

.posts-content-comments:active {
  position: relative;
  top: 1px;
}

.posts-cat-auth-time {
  margin: 0;
  font-size: 0.8rem;
  opacity: 80%;
}

/* Subreddit sidebar */

.subreddit-container {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  margin-left: 3%;
  padding: 0.5rem;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  height: fit-content;
  box-shadow: 0 7px 4px rgb(0 0 0 / 25%);
  max-width: 23%;
}

.subreddit-header {
  text-align: center;
  border-bottom: 2px solid;
}

.subreddit-list {
  list-style: none;
  padding: 0 0.5rem;
}

.subreddit-category {
  padding: 0.2rem 0;
}

.subreddit-category button {
  display: flex;
  align-items: center;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

.subreddit-category button:hover {
  background-color: cornsilk;
}

.subreddit-category button:active {
  background-color: palegreen;
}

.subreddit-category .active {
  background-color: palegreen;
  box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, inset 5px 0 0 0 green;
}

.subreddit-icon-img {
  width: 10%;
  border-radius: 2rem;
  margin-left: 0.2rem;
}

.subreddit-title {
  margin-left: 8px;
}

/* Single Post */

.outer-post-container {
  flex-grow: 3;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 55%;
  margin-left: 5%;
}

.inner-post-container {
  display: flex;
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 25%);
}

.post-likes-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 1rem;
}

.post-content-container {
  padding: 1rem;
  flex-grow: 2;
  display: flex;
  flex-direction: column;
}

.post-content-container button {
  display: block;
  margin-left: auto;
  margin-top: 1rem;
}

.post-goBack-button {
  align-self: flex-start;
  margin-left: 5%;
  margin-top: 2%;
  background-color: whitesmoke;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.post-goBack-button:hover {
  background-color: cornsilk;
  color: green;
}

/* Single post comment section */

.comments-container {
  margin-top: 1.5rem;
  border-radius: 0.5rem;
  width: 90%;
  box-shadow: 1px 5px 5px rgb(0 0 0 / 25%);
}

.comment-container {
  margin: 1.5rem 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
}

.comment-container:hover {
  box-shadow: 0 5px 5px rgb(0 0 0 / 25%);
}

.comment-Body {
  margin: 0.5rem 0;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.comment-container:first-child {
  margin-top: 2%;
}

/* Gallery Container seciton */

.gallery-container {
  display: flex;
  position: relative;
  overflow: hidden;
  right: 0;
}

.gallery-slide {
  width: 100%;
  flex-shrink: 0;
  position: relative;
  right: 0;
}

.gallery-slide img {
  height: 100%;
  position: relative;
  right: 0;
}

.gallery-button-next,
.gallery-button-prev {
  display: flex;
  border: none;
  padding: 1px 3px;
  font-size: 2rem;
  user-select: none;
  cursor: pointer;
}

.gallery-button-prev {
  position: absolute;
  top: 45%;
  border-radius: 0 1rem 1rem 0;
}

.gallery-button-next {
  position: absolute;
  top: 45%;
  right: 0;
  border-radius: 1rem 0 0 1rem;
}

.gallery-button-prev:hover,
.gallery-button-next:hover {
  background-color: cornsilk;
}

.active,
.gallery-nav:hover {
  background-color: #8fd597;
}

.backToTop-button {
  display: none;
  position: fixed;
  right: 20%;
  bottom: 2rem;
  background-color: whitesmoke;
  border-radius: 1rem;
  cursor: pointer;
  font-size: 0.8rem;
  padding: 0.5rem;
}

.backToTop-button:hover {
  background-color: cornsilk;
  color: green;
}

#author-span {
  color: darkgreen;
}

/* Media Queries */

/* 4K */
@media screen and (min-width: 2560px) {
  h2 {
    font-size: 3.5rem;
  }

  nav {
    box-shadow: 0 7px 10px rgb(0 0 0 / 20%);
  }

  .form-searchbar-input {
    font-size: 2rem;
    width: 60%;
    height: 3rem;
    border-radius: 4rem;
    padding: 0.8rem 5rem 0.8rem 2rem;
  }

  .form-searchbar-icon {
    top: 25%;
    left: 62.5%;
    font-size: 2.5rem;
  }

  .logo-img {
    width: 4.5rem;
    height: 4.5rem;
  }

  .logo-text {
    font-size: 2.5rem;
  }

  .posts-container {
    max-width: 60%;
  }

  .posts-cat-auth-time {
    font-size: 1.7rem;
  }

  .single-post-container {
    margin-top: 2.5rem;
    box-shadow: 9px 11px 11px rgb(0 0 0 / 25%);
  }

  .posts-content-container {
    padding: 2rem;
  }

  .subreddit-container {
    max-width: 30%;
    margin-top: 2.5rem;
    margin-left: 2%;
    box-shadow: 0 11px 11px 5px rgb(0 0 0 / 25%);
  }

  .subreddit-title {
    font-size: 2rem;
  }

  .subreddit-icon-img {
    border-radius: 3rem;
    margin-left: 0.9rem;
  }

  .subreddit-list {
    margin-top: 0;
  }

  .subreddit-category {
    padding: 1rem 0;
  }

  .subreddit-category .active {
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, inset 0.8rem 0 0 0 green;
  }

  .posts-vote-container {
    box-shadow: 7px 4px 13px rgb(0 0 0 / 25%);
  }

  .vote-Up {
    font-size: 3.5rem;
  }

  .vote-Up:active {
    top: 5px;
  }

  .vote-Down {
    font-size: 3.5rem;
  }

  .vote-Down:active {
    top: -5px;
  }

  #vote-amount {
    font-size: 1.7rem;
  }

  .posts-content-comments {
    font-size: 1.7rem;
    padding: 0.2rem 0.5rem;
  }

  .inner-post-container {
    box-shadow: 5px 8px 11px 3px rgb(0 0 0 / 25%);
  }

  .comments-container {
    margin-top: 2.5rem;
    box-shadow: 5px 8px 11px 5px rgb(0 0 0 / 25%);
  }

  .comment-container:hover {
    box-shadow: 0px 7px 5px 1px rgb(0 0 0 / 25%);
  }

  .comment-Body {
    margin: 1.5rem 0;
    font-size: 2rem;
  }

  .post-goBack-button {
    border-radius: 2rem;
    font-size: 1.7rem;
    padding: 0.8rem;
  }

  .backToTop-button {
    border-radius: 2rem;
    font-size: 1.7rem;
    padding: 0.8rem;
  }

  .gallery-button-next,
  .gallery-button-prev {
    font-size: 5rem;
    padding: 4px 4px;
  }
}

/* 1440p */
@media screen and (max-width: 2560px) {
  h2 {
    font-size: 2rem;
  }

  nav {
    box-shadow: 0 5px 6px rgb(0 0 0 / 20%);
  }

  .form-searchbar-input {
    font-size: 1.5rem;
    width: 60%;
    height: 2rem;
    border-radius: 4rem;
    padding: 0.8rem 4rem 0.8rem 2rem;
  }

  .form-searchbar-icon {
    top: 25%;
    left: 62.5%;
    font-size: 1.75rem;
  }

  .logo-img {
    width: 3.5rem;
    height: 3.5rem;
  }

  .logo-text {
    margin: 1.5rem 0;
    font-size: 1.9rem;
  }

  .subreddit-container {
    max-width: 28%;
    margin-top: 2rem;
    margin-left: 3%;
    box-shadow: 0 6px 9px 3px rgb(0 0 0 / 25%);
  }

  .subreddit-title {
    font-size: 1.25rem;
  }

  .subreddit-icon-img {
    border-radius: 3rem;
    margin-left: 0.9rem;
  }

  .subreddit-category .active {
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, inset 0.6rem 0 0 0 green;
  }

  .posts-container {
    max-width: 60%;
    margin-left: 3%;
  }

  .posts-cat-auth-time {
    font-size: 1.25rem;
  }

  .single-post-container {
    margin-top: 2rem;
    box-shadow: 6px 7px 7px rgb(0 0 0 / 25%);
  }

  .posts-content-container {
    padding: 1.5rem;
  }

  .posts-vote-container {
    box-shadow: 4px 4px 6px rgb(0 0 0 / 25%);
  }

  .vote-Up {
    font-size: 2.5rem;
  }

  .vote-Up:active {
    top: 3px;
  }

  .vote-Down {
    font-size: 2.5rem;
  }

  .vote-Down:active {
    top: -3px;
  }

  #vote-amount {
    font-size: 1.25rem;
  }

  .posts-content-comments {
    font-size: 1.25rem;
    padding: 0.2rem 0.5rem;
  }

  .inner-post-container {
    box-shadow: 5px 5px 9px 1px rgb(0 0 0 / 25%);
  }

  .comments-container {
    margin-top: 2rem;
    box-shadow: 2px 5px 9px 3px rgb(0 0 0 / 25%);
  }

  .comment-container:hover {
    box-shadow: 0px 5px 5px 1px rgb(0 0 0 / 25%);
  }

  .comment-Body {
    margin: 1rem 0;
    font-size: 1.5rem;
  }

  .post-goBack-button {
    border-radius: 2rem;
    font-size: 1.25rem;
    padding: 0.6rem;
  }

  .backToTop-button {
    border-radius: 2rem;
    font-size: 1.25rem;
    padding: 0.6rem;
  }

  .gallery-button-next,
  .gallery-button-prev {
    font-size: 3rem;
    padding: 4px 4px;
  }
}

@media screen and (max-width: 1440px) {
  h2 {
    font-size: 1.5rem;
  }

  nav {
    box-shadow: 0 5px 6px rgb(0 0 0 / 20%);
  }

  .form-searchbar-input {
    font-size: 1rem;
    width: 55%;
    height: 1rem;
    border-radius: 4rem;
    padding: 0.6rem 2.5rem 0.6rem 1rem;
  }

  .form-searchbar-icon {
    top: 20%;
    left: 57.5%;
    font-size: 1.25rem;
  }

  .logo-img {
    width: 2.5rem;
    height: 2.5rem;
  }

  .logo-text {
    margin: 1rem 0;
    font-size: 1.25rem;
  }

  .subreddit-container {
    max-width: 25%;
    margin-top: 1.5rem;
    margin-left: 4%;
    box-shadow: 0 5px 7px 3px rgb(0 0 0 / 25%);
    padding: 0.25rem;
  }

  .subreddit-title {
    font-size: 0.75rem;
  }

  .subreddit-icon-img {
    border-radius: 3rem;
    margin-left: 0.5rem;
  }

  .subreddit-category .active {
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, inset 0.4rem 0 0 0 green;
  }

  .posts-container {
    max-width: 60%;
    margin-left: 4%;
  }

  .posts-cat-auth-time {
    font-size: 0.75rem;
  }

  .single-post-container {
    margin-top: 1.5rem;
    box-shadow: 3px 5px 7px rgb(0 0 0 / 25%);
  }

  .posts-content-container {
    padding: 0.8rem;
  }

  .posts-vote-container {
    padding: 0.5rem;
    box-shadow: 3px 4px 6px rgb(0 0 0 / 25%);
  }

  .vote-Up {
    font-size: 1.75rem;
  }

  .vote-Up:active {
    top: 3px;
  }

  .vote-Down {
    font-size: 1.75rem;
  }

  .vote-Down:active {
    top: -3px;
  }

  #vote-amount {
    font-size: 0.9rem;
  }

  .posts-content-comments {
    font-size: 0.75rem;
    padding: 0.2rem 0.4rem;
  }

  .outer-post-container {
    max-width: 60%;
  }

  .inner-post-container {
    box-shadow: 4px 4px 7px 1px rgb(0 0 0 / 25%);
  }

  .comments-container {
    margin-top: 1.5rem;
    box-shadow: 4px 4px 7px 1px rgb(0 0 0 / 25%);
  }

  .comment-container:hover {
    box-shadow: 0px 3px 4px 1px rgb(0 0 0 / 25%);
  }

  .comment-container {
    margin: 0.8rem 0.5rem;
  }

  .comment-Body {
    margin: 0.75rem 0;
    font-size: 0.85rem;
  }

  .post-goBack-button {
    border-radius: 2rem;
    font-size: 0.75rem;
    padding: 0.4rem;
  }

  .backToTop-button {
    border-radius: 2rem;
    font-size: 0.75rem;
    padding: 0.4rem;
  }

  .gallery-button-next,
  .gallery-button-prev {
    font-size: 1.75rem;
    padding: 3px 3px;
  }
}

@media screen and (max-width: 1024px) {
  h2 {
    font-size: 1.25rem;
  }

  nav {
    box-shadow: 0 3px 6px rgb(0 0 0 / 20%);
  }

  .form-searchbar-input {
    font-size: 0.75rem;
    width: 55%;
    height: 0.75rem;
    border-radius: 4rem;
    padding: 0.5rem 2rem 0.5rem 1rem;
  }

  .form-searchbar-icon {
    top: 22%;
    left: 58%;
    font-size: 0.9rem;
  }

  .logo-img {
    width: 2rem;
    height: 2rem;
  }

  .logo-text {
    margin: 0.8rem 0;
    font-size: 0.9rem;
  }

  .subreddit-container {
    max-width: 28%;
    margin-left: 2%;
  }

  .subreddit-list {
    padding: 0;
    margin-top: 0;
  }

  .subreddit-category .active {
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, inset 0.3rem 0 0 0 green;
  }

  .subreddit-icon-img {
    margin-left: 0.25rem;
  }

  .posts-vote-container {
    box-shadow: 3px 0px 6px rgb(0 0 0 / 25%);
  }

  .gallery-button-next,
  .gallery-button-prev {
    font-size: 1.5rem;
    padding: 3px 2px;
  }
}

@media screen and (max-width: 768px) {
  h2 {
    font-size: 1rem;
  }

  .nav-category-menu {
    display: none;
  }

  .subreddit-container {
    max-width: 30%;
    margin-top: 1rem;
    margin-left: auto;
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: 1px 3px 6px 2px rgb(0 0 0 / 25%);
    padding: 0.25rem;
  }

  .subreddit-icon-img {
    border-radius: 3rem;
    margin-left: 0.5rem;
  }

  .subreddit-category .active {
    box-shadow: 0 0 0 0, 0 0 0 0, 0 0 0 0, inset 0.3rem 0 0 0 green;
  }

  .posts-container {
    max-width: 66%;
    margin-left: 1%;
  }

  .posts-cat-auth-time {
    font-size: 0.55rem;
  }

  .single-post-container {
    margin-top: 1rem;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 25%);
  }

  .posts-content-container {
    padding: 0.6rem;
  }

  .posts-vote-container {
    padding: 0.5rem 0.8rem 0.5rem 0.4rem;
    box-shadow: 2px 0px 4px rgb(0 0 0 / 25%);
  }

  .vote-Up {
    font-size: 1.5rem;
  }

  .vote-Up:active {
    top: 3px;
  }

  .vote-Down {
    font-size: 1.5rem;
  }

  .vote-Down:active {
    top: -3px;
  }

  #vote-amount {
    font-size: 0.8rem;
  }

  .posts-content-comments {
    font-size: 0.65rem;
    padding: 0.2rem 0.4rem;
  }

  .outer-post-container {
    max-width: 66%;
    margin-left: 1%;
  }

  .inner-post-container {
    margin-top: 1rem;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 25%);
  }

  .comments-container {
    margin-top: 1rem;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 25%);
  }

  .comment-container:hover {
    box-shadow: 0px 3px 4px 1px rgb(0 0 0 / 25%);
  }

  .comment-container {
    margin: 0.2rem 0.5rem;
  }

  .comment-Body {
    margin: 0.75rem 0;
    font-size: 0.75rem;
  }

  .post-goBack-button {
    border-radius: 2rem;
    font-size: 0.65rem;
    padding: 0.25rem;
    border: 1px solid;
  }

  .backToTop-button {
    border-radius: 2rem;
    font-size: 0.65rem;
    padding: 0.25rem;
    border: 1px solid;
  }

  .gallery-button-next,
  .gallery-button-prev {
    font-size: 1.75rem;
    padding: 3px 3px;
  }
}

@media screen and (max-width: 480px) {
  h2 {
    font-size: 1.25rem;
  }

  .form-searchbar {
    max-width: 50%;
  }

  .form-searchbar-icon {
    left: 62%;
  }

  .nav-category-menu {
    display: block;
    margin: auto;
    font-size: 1.15rem;
    border: none;
    border-radius: 0.4rem;
    background: whitesmoke;
    box-shadow: 0 1px 4px 1.5px rgb(0 0 0 / 25%);
  }

  .nav-category-menu-open {
    display: none;
    position: fixed;
    top: 0;
    right: 0;
    width: 70%;
    height: 100%;
    background-color: ivory;
    z-index: 10;
  }

  .nav-close-menu {
    position: absolute;
    margin-top: 1.8rem;
    margin-left: 0.75rem;
    background-color: whitesmoke;
    padding: 0.3rem 0.6rem;
    font-size: 1.25rem;
    border: none;
    border-radius: 0.4rem;
    box-shadow: 1px 2px 4px 1.5px rgb(0 0 0 / 25%);
  }

  .subreddit-container {
    display: none;
    max-width: 80%;
    margin: 0.4rem 0 0 auto;
    border-radius: 0.5rem 0 0 0.5rem;
    box-shadow: none;
    padding: 0;
  }

  .subreddit-header {
    border-bottom: none;
    margin: 0;
  }

  .subreddit-category {
    padding: 0.05rem 0;
  }

  .posts-container {
    max-width: 100%;
    margin-left: 0;
  }

  .posts-cat-auth-time {
    font-size: 0.6rem;
  }

  .single-post-container {
    margin-top: 1rem;
    box-shadow: 3px 4px 5px rgb(0 0 0 / 25%);
    width: 95%;
  }

  .posts-content-container {
    padding: 0.5rem;
  }

  .posts-vote-container {
    padding: 0.5rem 0.8rem 0.5rem 0.4rem;
    box-shadow: 2px 0px 4px rgb(0 0 0 / 25%);
  }

  .outer-post-container {
    max-width: 100%;
  }

  .inner-post-container {
    width: 95%;
    box-shadow: 2px 4px 7px 2px rgb(0 0 0 / 25%);
  }

  .comments-container {
    width: 95%;
    margin-top: 1.5rem;
    box-shadow: 2px 4px 7px 2px rgb(0 0 0 / 25%);
  }

  .comments-container {
    margin-top: 1rem;
    box-shadow: 2px 2px 6px 1px rgb(0 0 0 / 25%);
  }

  .comment-container:hover {
    box-shadow: 0px 3px 4px 1px rgb(0 0 0 / 25%);
  }

  .comment-container {
    margin: 0.2rem 0.5rem;
  }

  .comment-Body {
    margin: 0.75rem 0;
    font-size: 0.9rem;
  }

  .post-goBack-button {
    margin-left: 2%;
  }

  .backToTop-button {
    display: none !important;
  }
}

@media screen and (max-width: 350px) {
  .form-searchbar-icon {
    left: 70%;
  }
}
